@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy-deep: #00296b;
  --navy-medium: #003f88;
  --navy-bright: #00509d;
  --gold: #fdc500;
  --gold-bright: #ffd710;
  --navy-dark: #001a4d;
  --navy-lighter: #0066cc;
  --gold-dark: #c79901;
  --gold-darker: #cc8100;
  --gold-lighter: #fff066;
  --gold-pale: #fff9e5;
  --navy-pale: #f0f5ff;
  --background: #ffffff;
  --foreground: #171717;
}
